div.container
	div.navbar(role="navigation")
		div.container
			div.navbar-header
				a.navbar-brand(href="#") Tweet-o-sphere
			ul.nav.navbar-nav
				li.active
					a(href="#") Followers
				li
					a(href="/search") Search
	div.container
		div.col-xs-12.content
			div.followers

