div.container
	div.navbar.navbar-inverse(role="navigation")
		div.container
			div.navbar-header
				a.navbar-brand(href='#') Search
	div.container
		div.col-xs-12.searchbox
			div.panel
				input(type='text')#param |
				a.btn.search-button(href='#') Search
		div.col-xs-12.content
