div.container
	div.navbar(role="navigation")
		div.container
			div.navbar-header
				a.navbar-brand(href="#") Tweet-o-sphere
			ul.nav.navbar-nav
				li
					a(href="/") Followers
				li.active
					a(href="#") Search

	div.container
		div.col-xs-12.searchbox
			div.panel
				input(type='text')#param |
				a.btn.search-button(href='#') Search
		div.col-xs-12.content
