
extends layout
title Search
block content

	include search-content
	include modals/alert

block scripts
	script(src='/vendor/js/jquery.min.js')
	script(src='/vendor/js/jquery.form.js')
	script(src='/vendor/js/bootstrap-modal.js')
	script(src='/vendor/js/bootstrap-transition.js')
	script(src='/js/search.js')
